@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
.myFont {
    font-family: 'Rock Salt';
    font-size: 20px;
    font-weight: bolder;
}

body {
    background-color: #566270;
}

#header {
    position: absolute;
    width: 100%;
    height: 109px;
    left: 0px;
    top: -1px;
    background: #2C3443;
}

#header-txt {
    position: absolute;
    height: 168px;
    left: 30px;
    top: -67px;
    font-family: Rock Salt;
    font-weight: bold;
    font-size: 60px;
    line-height: 135px;
    color: #FCDE0C;
}

#header-btn {
    display: flex;
    flex-direction: row;
    margin-left: 80%;
    padding: 30px;
}

#header-btn-txt {
    width: 150px;
    height: 50px;
    top: 10px;
    border-radius: 15px;
    margin-left: 20px;
    text-decoration: none;
    text-align: center;
    background: #FCDE0C;
}

.start-btn {
    position: absolute;
    width: 397px;
    height: 147px;
    left: 35%;
    top: 80%;
    background: #FCDE0C;
    border-radius: 15px;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 119px;
    color: #000000;
}

#bio {
    position: absolute;
    width: 1085px;
    height: 121px;
    left: 20%;
    top: 347px;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 131px;
    color: #FCDE0C;
}

#tip {
    position: relative;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: bolder;
    font-size: 55px;
    line-height: 131px;
    color: #e60000;
    left: 10%;
    top: 720px;
}

#hello-simo {
    position: absolute;
    width: 302px;
    height: 550px;
    left: 70%;
    top: 220px;
}

#question {
    position: absolute;
    text-align: justify;
    font-size: 45px;
    width: 750px;
    height: 100px;
    left: 30%;
    top: 20%;
    background: #FCDE0C;
    border-radius: 30px;
    text-align: center;
    padding: auto;
}

.btn-container {
    display: flex;
    flex-direction: column;
    top: 35%;
    left: 30%;
    position: absolute;
}

.btn {
    background: #FCDE0C;
    border-radius: 20px;
    width: 600px;
    height: 100px;
    text-align: justify;
    padding: 30px;
    margin: 10px;
    text-align: justify;
}

.btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #f5eba1;
    transition-duration: .45s;
    border: none;
}

#start-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    background-color: #4CAF50;
    border: none;
}

#next-btn:hover {
    background-color: #ff7676;
    transition-duration: .4s;
}

#simons {
    position: absolute;
    width: 314px;
    height: 393px;
    left: 115%;
    top: 10px;
}

#q-num {
    position: absolute;
    width: 167px;
    height: 106px;
    left: 0px;
    top: 120%;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 84px;
    text-align: center;
    color: #FCDE0C;
}

#next-btn {
    position: absolute;
    width: 325px;
    height: 105px;
    left: 1000px;
    top: 500px;
    background: #ff0000;
    border-radius: 15px;
}

#score-page {
    position: absolute;
    width: 776px;
    height: 622px;
    left: 30%;
    top: 30%;
    background: #FCDE0C;
    border-radius: 30px;
}

#thank-text {
    position: absolute;
    width: 500px;
    height: 105px;
    left: 155px;
    top: 50px;
    font-size: 40px;
    line-height: 95px;
}

#score-text {
    position: absolute;
    width: 500px;
    height: 105px;
    left: 140px;
    top: 200px;
    font-size: 30px;
    line-height: 80px;
}

#score-img {
    position: absolute;
    width: 550px;
    height: 260px;
    left: 120px;
    top: 333px;
}

.hide {
    display: none;
}

.show {
    display: block;
}